.reset-password{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

a{
    color: rgb(5, 5, 67);
    text-decoration: none;
    opacity: .75;
}

a:hover{
    color: rgb(5, 5, 67);
    text-decoration: underline;
    font-weight:600;
}

.reset-password-card{
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}

.reset-password-form-button {
    background-color: rgb(5, 5, 67);
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    
}

.reset-password-form-button:hover {
    background-color: rgb(5, 5, 67);
    opacity: 0.75;
}