.verification {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

a {
    color: rgb(5, 5, 67);
    text-decoration: none;
    opacity: .75;
}

a:hover {
    color: rgb(5, 5, 67);
    text-decoration: underline;
    font-weight: 600;
}

.verification-card {
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.verification-card {
    position: relative;
    overflow: hidden;
    background: rgb(2, 0, 36);
    background: linear-gradient(135deg, rgba(2, 0, 36, 1) 25%, rgba(255, 255, 255, 1) 25%, rgb(255, 255, 255) 100%);
}

.verification-form {
    margin-left: 10.5rem;
    margin-right: 3rem;
}

.verification-code h5 {
    color: rgb(5, 5, 67);
    margin-left: 10rem;
}

.ant-input-affix-wrapper>input.ant-input {
    padding: 10px;
}

.verification-form-button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(5, 5, 67);
    color: #fff;

}

.verification-form-button:hover {
    background-color: rgb(5, 5, 67);
    opacity: 0.75;
}